        <div class="h1 m-8 ml-16">{{ altriDatiGestionali }}</div>
        <div class="h4 ml-16">ID: <b>{{ altriDatiGestionali.id }}</b></div>

        <div class="h4 ml-16">tipiDato: <b>{{ altriDatiGestionali.tipiDato }}</b></div>
        <div class="h4 ml-16">riferimentoTesto: <b>{{ altriDatiGestionali.riferimentoTesto }}</b></div>
        <div class="h4 ml-16">riferimentoNumero: <b>{{ altriDatiGestionali.riferimentoNumero }}</b></div>
        <div class="h4 ml-16">riferimentoData: <b>{{ altriDatiGestionali.riferimentoData }}</b></div>





 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ altriDatiGestionali.dettaglioLinea.numeroLinea }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ altriDatiGestionali.dettaglioLinea.tipoCessionePrestazioneCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ altriDatiGestionali.dettaglioLinea.codiceArticoloTipo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ altriDatiGestionali.dettaglioLinea.codiceArticoloValore }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ altriDatiGestionali.dettaglioLinea.descrizione }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ altriDatiGestionali.dettaglioLinea.quantita }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ altriDatiGestionali.dettaglioLinea.unitaMisura }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ altriDatiGestionali.dettaglioLinea.dataInizioPeriodo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ altriDatiGestionali.dettaglioLinea.dataFinePeriodo }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ altriDatiGestionali.dettaglioLinea.prezzoUnitario }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ altriDatiGestionali.dettaglioLinea.prezzoTotale }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ altriDatiGestionali.dettaglioLinea.aliquotaIVA }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ altriDatiGestionali.dettaglioLinea.ritenuta }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ altriDatiGestionali.dettaglioLinea.naturaCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ altriDatiGestionali.dettaglioLinea.riferimentoAmministrazione }}</b></div>

