        <div class="h1 m-8 ml-16">{{ scontoMaggiorazioneLinea }}</div>
        <div class="h4 ml-16">ID: <b>{{ scontoMaggiorazioneLinea.id }}</b></div>
        <div class="h4 ml-16">percentuale: <b>{{ scontoMaggiorazioneLinea.percentuale }}</b></div>
        <div class="h4 ml-16">importo: <b>{{ scontoMaggiorazioneLinea.importo }}</b></div>
        <div class="h4 ml-16">tipoScontoMaggiorazioneCode: <b>{{ scontoMaggiorazioneLinea.tipoScontoMaggiorazioneCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ scontoMaggiorazioneLinea.dettaglioLinea.numeroLinea }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ scontoMaggiorazioneLinea.dettaglioLinea.tipoCessionePrestazioneCode }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ scontoMaggiorazioneLinea.dettaglioLinea.codiceArticoloTipo }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ scontoMaggiorazioneLinea.dettaglioLinea.codiceArticoloValore }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ scontoMaggiorazioneLinea.dettaglioLinea.descrizione }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ scontoMaggiorazioneLinea.dettaglioLinea.quantita }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ scontoMaggiorazioneLinea.dettaglioLinea.unitaMisura }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ scontoMaggiorazioneLinea.dettaglioLinea.dataInizioPeriodo }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ scontoMaggiorazioneLinea.dettaglioLinea.dataFinePeriodo }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ scontoMaggiorazioneLinea.dettaglioLinea.prezzoUnitario }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ scontoMaggiorazioneLinea.dettaglioLinea.prezzoTotale }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ scontoMaggiorazioneLinea.dettaglioLinea.aliquotaIVA }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ scontoMaggiorazioneLinea.dettaglioLinea.ritenuta }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ scontoMaggiorazioneLinea.dettaglioLinea.naturaCode }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">dettaglioLinea: <b>{{ scontoMaggiorazioneLinea.dettaglioLinea.riferimentoAmministrazione }}</b></div>

<pre>{{ scontoMaggiorazioneLinea }}</pre>