        <div class="h1 m-8 ml-16">{{ datiOrdineAcquisto }}</div>
        <div class="h4 ml-16">ID: <b>{{ datiOrdineAcquisto.id }}</b></div>

        <div class="h4 ml-16">riferimentoNumeroLinea: <b>{{ datiOrdineAcquisto.riferimentoNumeroLinea }}</b></div>
        <div class="h4 ml-16">idDocumento: <b>{{ datiOrdineAcquisto.idDocumento }}</b></div>
        <div class="h4 ml-16">data: <b>{{ datiOrdineAcquisto.data }}</b></div>
        <div class="h4 ml-16">numItem: <b>{{ datiOrdineAcquisto.numItem }}</b></div>
        <div class="h4 ml-16">codiceCommessaConvenzione: <b>{{ datiOrdineAcquisto.codiceCommessaConvenzione }}</b></div>
        <div class="h4 ml-16">codiceCup: <b>{{ datiOrdineAcquisto.codiceCUP }}</b></div>
        <div class="h4 ml-16">codiceCig: <b>{{ datiOrdineAcquisto.codiceCIG }}</b></div>





