        <div class="h1 m-8 ml-16">{{ dettaglioPagamento }}</div>
        <div class="h4 ml-16">ID: <b>{{ dettaglioPagamento.id }}</b></div>
        <div class="h4 ml-16">beneficiario: <b>{{ dettaglioPagamento.beneficiario }}</b></div>
        <div class="h4 ml-16">modalitaPagamentoCode: <b>{{ dettaglioPagamento.modalitaPagamentoCode }}</b></div>
        <div class="h4 ml-16">dataRiferimentoTerminiPagamento: <b>{{ dettaglioPagamento.dataRiferimentoTerminiPagamento }}</b></div>
        <div class="h4 ml-16">giorniTerminiPagamento: <b>{{ dettaglioPagamento.giorniTerminiPagamento }}</b></div>
        <div class="h4 ml-16">dataScadenzaPagamento: <b>{{ dettaglioPagamento.dataScadenzaPagamento }}</b></div>
        <div class="h4 ml-16">importoPagamento: <b>{{ dettaglioPagamento.importoPagamento }}</b></div>
        <div class="h4 ml-16">codUfficioPostale: <b>{{ dettaglioPagamento.codUfficioPostale }}</b></div>
        <div class="h4 ml-16">cognomeQuietanzante: <b>{{ dettaglioPagamento.cognomeQuietanzante }}</b></div>
        <div class="h4 ml-16">nomeQuietanzante: <b>{{ dettaglioPagamento.nomeQuietanzante }}</b></div>
        <div class="h4 ml-16">cFQuietanzante: <b>{{ dettaglioPagamento.cFQuietanzante }}</b></div>
        <div class="h4 ml-16">titoloQuietanzante: <b>{{ dettaglioPagamento.titoloQuietanzante }}</b></div>
        <div class="h4 ml-16">istitutoFinanziario: <b>{{ dettaglioPagamento.istitutoFinanziario }}</b></div>
        <div class="h4 ml-16">iban: <b>{{ dettaglioPagamento.iban }}</b></div>
        <div class="h4 ml-16">abi: <b>{{ dettaglioPagamento.abi }}</b></div>
        <div class="h4 ml-16">cab: <b>{{ dettaglioPagamento.cab }}</b></div>
        <div class="h4 ml-16">bic: <b>{{ dettaglioPagamento.bic }}</b></div>
        <div class="h4 ml-16">scontoPagamentoAnticipato: <b>{{ dettaglioPagamento.scontoPagamentoAnticipato }}</b></div>
        <div class="h4 ml-16">dataLimitePagamentoAnticipato: <b>{{ dettaglioPagamento.dataLimitePagamentoAnticipato }}</b></div>
        <div class="h4 ml-16">penalitaPagamentiRitardati: <b>{{ dettaglioPagamento.penalitaPagamentiRitardati }}</b></div>
        <div class="h4 ml-16">dataDecorrenzaPenale: <b>{{ dettaglioPagamento.dataDecorrenzaPenale }}</b></div>
        <div class="h4 ml-16">codicePagamento: <b>{{ dettaglioPagamento.codicePagamento }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">datiPagamento: <b>{{ dettaglioPagamento.datiPagamento.condizioniPagamento }}</b></div>

<pre>{{ dettaglioPagamento }}</pre>