        <div class="h1 m-8 ml-16">{{ datiGeneraliDocumento }}</div>
        <div class="h4 ml-16">ID: <b>{{ datiGeneraliDocumento.id }}</b></div>
        <div class="h4 ml-16">divisa: <b>{{ datiGeneraliDocumento.divisa }}</b></div>
        <div class="h4 ml-16">data: <b>{{ datiGeneraliDocumento.data }}</b></div>
        <div class="h4 ml-16">numero: <b>{{ datiGeneraliDocumento.numero }}</b></div>
        <div class="h4 ml-16">importoTotaleDocumento: <b>{{ datiGeneraliDocumento.importoTotaleDocumento }}</b></div>
        <div class="h4 ml-16">arrotondamento: <b>{{ datiGeneraliDocumento.arrotondamento }}</b></div>
        <div class="h4 ml-16">causale: <b>{{ datiGeneraliDocumento.causale }}</b></div>
        <div class="h4 ml-16">art73: <b>{{ datiGeneraliDocumento.art73 }}</b></div>
        <div class="h4 ml-16">tipoDocumentoCode: <b>{{ datiGeneraliDocumento.tipoDocumentoCode }}</b></div>


<pre>{{ datiGeneraliDocumento }}</pre>