<div [ngSwitch]="view">
    <p *ngSwitchCase="'CARD'">
        CARD
    </p>
    <p *ngSwitchDefault>
        <!-- <eopoo-type-list-table-prime [ds]="ds"></eopoo-type-list-table-prime> -->
        <p-table styleClass="p-datatable-sm"
            [value]="ds" [loading]="loading"
            [lazy]="true" (onLazyLoad)="lazyLoad($event)"
            [resizableColumns]="true"
            [(selection)]="selectedElements" >

            <ng-template pTemplate="header">
                <tr>
                    <ng-container *ngFor="let dc of dcs" [ngSwitch]="dc">
                        <th *ngSwitchCase="'_ck'" style="width:30px"></th>
                        <th *ngSwitchCase="'id'" style="width: 50px;" pResizableColumn pSortableColumn="id">Id</th>
                        <!-- Filed of entity -->
                        <th *ngSwitchCase="'eopooType.name'" style="width:auto" pResizableColumn pSortableColumn="eopooType.name">Name</th>
                        <th *ngSwitchCase="'eopooType.eopooTypeCode'" style="width:auto" pResizableColumn pSortableColumn="eopooType.eopooTypeCode">eopooTypeCode</th>
                        <th *ngSwitchCase="'eopooType.eopooCategory'" style="width:auto" pResizableColumn pSortableColumn="eopooType.eopooCategory">eopooCategory</th>

                        <!-- Filed of relational entity -->
                    </ng-container>
                    <th *ngIf="buttons" style="width:140px"></th>    

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-e>
                <tr>
                    <ng-container *ngFor="let dc of dcs" [ngSwitch]="dc">
                        <td *ngSwitchCase="'_ck'"><p-tableCheckbox [value]="e"></p-tableCheckbox></td>
                        <td *ngSwitchCase="'id'">{{ e.id }}</td>
                        <!-- Filed of entity -->
                        <td *ngSwitchCase="'eopooType.name'">{{ e.name }}</td>
                        <td *ngSwitchCase="'eopooType.eopooTypeCode'">{{ e.eopooTypeCode }}</td>
                        <td *ngSwitchCase="'eopooType.eopooCategory'">{{ e.eopooCategory }}</td>

                        <!-- Filed of relational entity -->
                    </ng-container>
                    <td *ngIf="buttons" style="text-align:center">
						<ng-container *ngFor="let b of buttons">
							<button pButton type="button" 
								class="{{ b.class }} p-button-{{ b.severity }}" [ngClass]="{'ui-button-icon-only': b.hideLabel}"
								label="{{ b.label }}" icon="{{ b.icon }}" (click)="b.command(e)" >
                            </button>
							<ng-container *ngIf="b.childs">
								<button pButton type="button" 
									class="{{ b.class }} ml-0.5 p-button-{{ b.severity }}"
									pRipple icon="pi pi-chevron-down" (click)="menu.toggle($event)"></button>
								<p-menu #menu [popup]="true" [model]="decoreButtons(b.childs, e)" appendTo="body"></p-menu>
							</ng-container>
						</ng-container>
					</td>

                </tr>
            </ng-template>
        </p-table>
    </p>
</div>

<agal-paginator 
    [totalRecords]="totalRecords"
    [pageSizeOptions]="[30,50,100,500]"
    [initialSize]="30"
    (paginator)="changePagination($event)"
></agal-paginator>