		<div class="h1 m-8 ml-16">{{ dossier }}</div>
		<div class="h4 ml-16">ID: <b>{{ dossier.id }}</b></div>
		<div class="h4 ml-16">description: <b>{{ dossier.description }}</b></div>
		<div class="h4 ml-16">dossierCode: <b>{{ dossier.dossierCode }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">procurement: <b>{{ dossier.procurement.contractorEopooCode }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurement: <b>{{ dossier.procurement.description }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurement: <b>{{ dossier.procurement.code }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurement: <b>{{ dossier.procurement.ref }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurement: <b>{{ dossier.procurement.externalRef }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurement: <b>{{ dossier.procurement.creationDateTime }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.cig }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.description }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.sectorCode }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.procedureCode }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.modalityCode }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.offerExpiryDate }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.baseAmount }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.candidacy }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.securityAmount }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.istatCode }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.nutsCode }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.cpvCode }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.typeCode }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.awardCriterionCode }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.statusCode }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.workLocationCode }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">procurementLot: <b>{{ dossier.procurementLot.creationDateTime }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">partecipation: <b>{{ dossier.partecipation.proposerEopooCode }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">partecipation: <b>{{ dossier.partecipation.partecipationTypeCode }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">partecipation: <b>{{ dossier.partecipation.siteInspection }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">partecipation: <b>{{ dossier.partecipation.offering }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">partecipation: <b>{{ dossier.partecipation.note }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">partecipation: <b>{{ dossier.partecipation.creationDateTime }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">preparation: <b>{{ dossier.preparation.companyPreparatorEopooCode }}</b></div>
 *ngIf="eoopo.person"
<div class="h4 ml-16">preparation: <b>{{ dossier.preparation.note }}</b></div>

<pre>{{ dossier }}</pre>