        <div class="h1 m-8 ml-16">{{ datiRiepilogo }}</div>
        <div class="h4 ml-16">ID: <b>{{ datiRiepilogo.id }}</b></div>

        <div class="h4 ml-16">aliquotaIVA: <b>{{ datiRiepilogo.aliquotaIVA }}</b></div>
        <div class="h4 ml-16">esigibilitaIvaCode: <b>{{ datiRiepilogo.esigibilitaIvaCode }}</b></div>
        <div class="h4 ml-16">naturaCode: <b>{{ datiRiepilogo.naturaCode }}</b></div>
        <div class="h4 ml-16">speseAccessorie: <b>{{ datiRiepilogo.speseAccessorie }}</b></div>
        <div class="h4 ml-16">arrotondamento: <b>{{ datiRiepilogo.arrotondamento }}</b></div>
        <div class="h4 ml-16">imponibileImporto: <b>{{ datiRiepilogo.imponibileImporto }}</b></div>
        <div class="h4 ml-16">imposta: <b>{{ datiRiepilogo.imposta }}</b></div>
        <div class="h4 ml-16">riferimentoNormativo: <b>{{ datiRiepilogo.riferimentoNormativo }}</b></div>





