<div [ngSwitch]="view">
    <p *ngSwitchCase="'CARD'">
        CARD
    </p>
    <p *ngSwitchDefault>
        <!-- <sconto-maggiorazione-list-table-prime [ds]="ds"></sconto-maggiorazione-list-table-prime> -->
        <p-table 
            styleClass="p-datatable-lg"
            [value]="ds" [loading]="loading"
            [lazy]="true" (onLazyLoad)="lazyLoad($event)"
            
            [resizableColumns]="true"
            [(selection)]="selectedElements" >

            <ng-template pTemplate="header">
                <tr>
					<th style="width:50px" ></th>
                    <th style="width:auto" pResizableColumn pSortableColumn="scontoMaggiorazione.percentuale">percentuale</th>
                    <th style="width:auto" pResizableColumn pSortableColumn="scontoMaggiorazione.importo">importo</th>
                    <th style="width:auto" pResizableColumn pSortableColumn="scontoMaggiorazione.tipoScontoMaggiorazioneCode">tipoScontoMaggiorazioneCode</th>


					<th style="width:auto" pResizableColumn pSortableColumn="datiGeneraliDocumento.divisa">divisa</th>
					<th style="width:auto" pResizableColumn pSortableColumn="datiGeneraliDocumento.data">data</th>
					<th style="width:auto" pResizableColumn pSortableColumn="datiGeneraliDocumento.numero">numero</th>
					<th style="width:auto" pResizableColumn pSortableColumn="datiGeneraliDocumento.importoTotaleDocumento">importoTotaleDocumento</th>
					<th style="width:auto" pResizableColumn pSortableColumn="datiGeneraliDocumento.arrotondamento">arrotondamento</th>
					<th style="width:auto" pResizableColumn pSortableColumn="datiGeneraliDocumento.causale">causale</th>
					<th style="width:auto" pResizableColumn pSortableColumn="datiGeneraliDocumento.art73">art73</th>
					<th style="width:auto" pResizableColumn pSortableColumn="datiGeneraliDocumento.tipoDocumentoCode">tipoDocumentoCode</th>

            		<th style="width:auto" pResizableColumn pSortableColumn="">buttons</th>    

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-e>
                <tr>
                    <td><p-tableCheckbox [value]="e"></p-tableCheckbox></td>
					<td>{{ e.percentuale }}</td>
					<td>{{ e.importo }}</td>
					<td>{{ e.tipoScontoMaggiorazioneCode }}</td>

					<td>{{ e.datiGeneraliDocumento.divisa }}</td>
					<td>{{ e.datiGeneraliDocumento.data }}</td>
					<td>{{ e.datiGeneraliDocumento.numero }}</td>
					<td>{{ e.datiGeneraliDocumento.importoTotaleDocumento }}</td>
					<td>{{ e.datiGeneraliDocumento.arrotondamento }}</td>
					<td>{{ e.datiGeneraliDocumento.causale }}</td>
					<td>{{ e.datiGeneraliDocumento.art73 }}</td>
					<td>{{ e.datiGeneraliDocumento.tipoDocumentoCode }}</td>
            <td *ngIf="buttons">
                <button *ngFor="let button of buttons" (click)="button.fn(e)" >{{button.name}}</button>
            </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</div>

<agal-paginator 
    [totalRecords]="totalRecords"
    [pageSizeOptions]="[30,50,100,500]"
    [initialSize]="30"
    (paginator)="changePagination($event)"
    ></agal-paginator>