<div *ngIf="loading">LOADING</div>
<ng-container [ngSwitch]="view">
	<div *ngSwitchCase="'NONE'"></div>
	<div *ngSwitchCase="'CARD'">
		<div *ngFor="let e of ds">
			<pre>{{ e | json }}</pre>
		</div>
	</div>
	<div *ngSwitchDefault>
		<p-table styleClass="p-datatable-sm" [value]="ds" [lazy]="true" (onLazyLoad)="lazyLoad($event)"
			[resizableColumns]="true" [selection]="selectedElements" (selectionChange)="selection($event)">

			<ng-template pTemplate="header">
				<tr>
					<ng-container *ngFor="let dc of dcs" [ngSwitch]="dc">
						<th *ngSwitchCase="'_ck'" style="width:30px"></th>
						<th *ngSwitchCase="'id'" style="text-align:center; width: 50px" pResizableColumn pSortableColumn="id">id</th>
						<!-- Filed of entity -->
<!-- Filed of relational entity -->
<th *ngSwitchCase="'datiGeneraliDocumento.divisa'" style="width:auto" pResizableColumn pSortableColumn="datiGeneraliDocumento.divisa"> divisa</th>
<th *ngSwitchCase="'datiGeneraliDocumento.data'" style="width:auto" pResizableColumn pSortableColumn="datiGeneraliDocumento.data"> data</th>
<th *ngSwitchCase="'datiGeneraliDocumento.numero'" style="width:auto" pResizableColumn pSortableColumn="datiGeneraliDocumento.numero"> numero</th>
<th *ngSwitchCase="'datiGeneraliDocumento.importoTotaleDocumento'" style="width:auto" pResizableColumn pSortableColumn="datiGeneraliDocumento.importoTotaleDocumento"> importoTotaleDocumento</th>
<th *ngSwitchCase="'datiGeneraliDocumento.arrotondamento'" style="width:auto" pResizableColumn pSortableColumn="datiGeneraliDocumento.arrotondamento"> arrotondamento</th>
<th *ngSwitchCase="'datiGeneraliDocumento.causale'" style="width:auto" pResizableColumn pSortableColumn="datiGeneraliDocumento.causale"> causale</th>
<th *ngSwitchCase="'datiGeneraliDocumento.art73'" style="width:auto" pResizableColumn pSortableColumn="datiGeneraliDocumento.art73"> art73</th>
<th *ngSwitchCase="'datiGeneraliDocumento.tipoDocumentoCode'" style="width:auto" pResizableColumn pSortableColumn="datiGeneraliDocumento.tipoDocumentoCode"> tipoDocumentoCode</th>
<th *ngSwitchCase="'datiSal.riferimentoFase'" style="width:auto" pResizableColumn pSortableColumn="datiSal.riferimentoFase"> riferimentoFase</th>
<th *ngSwitchCase="'datiTrasporto.vettoreEopooCode'" style="width:auto" pResizableColumn pSortableColumn="datiTrasporto.vettoreEopooCode"> vettoreEopooCode</th>
<th *ngSwitchCase="'datiTrasporto.mezzoTrasporto'" style="width:auto" pResizableColumn pSortableColumn="datiTrasporto.mezzoTrasporto"> mezzoTrasporto</th>
<th *ngSwitchCase="'datiTrasporto.causaleTrasporto'" style="width:auto" pResizableColumn pSortableColumn="datiTrasporto.causaleTrasporto"> causaleTrasporto</th>
<th *ngSwitchCase="'datiTrasporto.numeroColli'" style="width:auto" pResizableColumn pSortableColumn="datiTrasporto.numeroColli"> numeroColli</th>
<th *ngSwitchCase="'datiTrasporto.descrizione'" style="width:auto" pResizableColumn pSortableColumn="datiTrasporto.descrizione"> descrizione</th>
<th *ngSwitchCase="'datiTrasporto.unitaMisuraPeso'" style="width:auto" pResizableColumn pSortableColumn="datiTrasporto.unitaMisuraPeso"> unitaMisuraPeso</th>
<th *ngSwitchCase="'datiTrasporto.pesoLordo'" style="width:auto" pResizableColumn pSortableColumn="datiTrasporto.pesoLordo"> pesoLordo</th>
<th *ngSwitchCase="'datiTrasporto.pesoNetto'" style="width:auto" pResizableColumn pSortableColumn="datiTrasporto.pesoNetto"> pesoNetto</th>
<th *ngSwitchCase="'datiTrasporto.dataOraRitiro'" style="width:auto" pResizableColumn pSortableColumn="datiTrasporto.dataOraRitiro"> dataOraRitiro</th>
<th *ngSwitchCase="'datiTrasporto.dataInizioTrasporto'" style="width:auto" pResizableColumn pSortableColumn="datiTrasporto.dataInizioTrasporto"> dataInizioTrasporto</th>
<th *ngSwitchCase="'datiTrasporto.tipoResa'" style="width:auto" pResizableColumn pSortableColumn="datiTrasporto.tipoResa"> tipoResa</th>
<th *ngSwitchCase="'datiTrasporto.dataOraConsegna'" style="width:auto" pResizableColumn pSortableColumn="datiTrasporto.dataOraConsegna"> dataOraConsegna</th>
<th *ngSwitchCase="'fatturaPrincipale.numero'" style="width:auto" pResizableColumn pSortableColumn="fatturaPrincipale.numero"> numero</th>
<th *ngSwitchCase="'fatturaPrincipale.data'" style="width:auto" pResizableColumn pSortableColumn="fatturaPrincipale.data"> data</th>
<th *ngSwitchCase="'fatturaElettronicaBody.numero'" style="width:auto" pResizableColumn pSortableColumn="fatturaElettronicaBody.numero"> numero</th>
					</ng-container>
					<th *ngIf="buttons" style="width:150px"></th>

				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-e>
				<tr>
					<ng-container *ngFor="let dc of dcs" [ngSwitch]="dc">
						<td *ngSwitchCase="'_ck'"><p-tableCheckbox [value]="e"></p-tableCheckbox></td>
						<td *ngSwitchCase="'id'">{{ e.id }}</td>
						<!-- Filed of entity -->

				<!-- Filed of relational entity -->
						<td *ngSwitchCase="'datiGeneraliDocumento.divisa'">{{ e.datiGeneraliDocumento.divisa }}</td>
						<td *ngSwitchCase="'datiGeneraliDocumento.data'">{{ e.datiGeneraliDocumento.data }}</td>
						<td *ngSwitchCase="'datiGeneraliDocumento.numero'">{{ e.datiGeneraliDocumento.numero }}</td>
						<td *ngSwitchCase="'datiGeneraliDocumento.importoTotaleDocumento'">{{ e.datiGeneraliDocumento.importoTotaleDocumento }}</td>
						<td *ngSwitchCase="'datiGeneraliDocumento.arrotondamento'">{{ e.datiGeneraliDocumento.arrotondamento }}</td>
						<td *ngSwitchCase="'datiGeneraliDocumento.causale'">{{ e.datiGeneraliDocumento.causale }}</td>
						<td *ngSwitchCase="'datiGeneraliDocumento.art73'">{{ e.datiGeneraliDocumento.art73 }}</td>
						<td *ngSwitchCase="'datiGeneraliDocumento.tipoDocumentoCode'">{{ e.datiGeneraliDocumento.tipoDocumentoCode }}</td>
						<td *ngSwitchCase="'datiSal.riferimentoFase'">{{ e.datiSal.riferimentoFase }}</td>
						<td *ngSwitchCase="'datiTrasporto.vettoreEopooCode'">{{ e.datiTrasporto.vettoreEopooCode }}</td>
						<td *ngSwitchCase="'datiTrasporto.mezzoTrasporto'">{{ e.datiTrasporto.mezzoTrasporto }}</td>
						<td *ngSwitchCase="'datiTrasporto.causaleTrasporto'">{{ e.datiTrasporto.causaleTrasporto }}</td>
						<td *ngSwitchCase="'datiTrasporto.numeroColli'">{{ e.datiTrasporto.numeroColli }}</td>
						<td *ngSwitchCase="'datiTrasporto.descrizione'">{{ e.datiTrasporto.descrizione }}</td>
						<td *ngSwitchCase="'datiTrasporto.unitaMisuraPeso'">{{ e.datiTrasporto.unitaMisuraPeso }}</td>
						<td *ngSwitchCase="'datiTrasporto.pesoLordo'">{{ e.datiTrasporto.pesoLordo }}</td>
						<td *ngSwitchCase="'datiTrasporto.pesoNetto'">{{ e.datiTrasporto.pesoNetto }}</td>
						<td *ngSwitchCase="'datiTrasporto.dataOraRitiro'">{{ e.datiTrasporto.dataOraRitiro }}</td>
						<td *ngSwitchCase="'datiTrasporto.dataInizioTrasporto'">{{ e.datiTrasporto.dataInizioTrasporto }}</td>
						<td *ngSwitchCase="'datiTrasporto.tipoResa'">{{ e.datiTrasporto.tipoResa }}</td>
						<td *ngSwitchCase="'datiTrasporto.dataOraConsegna'">{{ e.datiTrasporto.dataOraConsegna }}</td>
						<td *ngSwitchCase="'fatturaPrincipale.numero'">{{ e.fatturaPrincipale.numero }}</td>
						<td *ngSwitchCase="'fatturaPrincipale.data'">{{ e.fatturaPrincipale.data }}</td>
						<td *ngSwitchCase="'fatturaElettronicaBody.numero'">{{ e.fatturaElettronicaBody.numero }}</td>
					</ng-container>
						<td *ngIf="buttons" style="text-align:center">
						<ng-container *ngFor="let b of buttons">
							<button pButton type="button" 
								class="{{ b.class }} p-button-{{ b.severity }}" [ngClass]="{'ui-button-icon-only': b.hideLabel}" 
								label="{{ b.label }}" icon="{{ b.icon }}" (click)="b.command(e)">
							</button>
							<ng-container *ngIf="b.childs">
								<button pButton type="button" 
									class="{{ b.class }} ml-0.5 p-button-{{ b.severity }}"
									pRipple icon="pi pi-chevron-down" (click)="menu.toggle($event)">
								</button>
								<p-menu #menu [popup]="true" [model]="decoreButtons(b.childs, e)" appendTo="body"></p-menu>
							</ng-container>
						</ng-container>
					</td>

				</tr>
			</ng-template>
		</p-table>
	</div>
</ng-container> 
 