		<div class="h1 m-8 ml-16">{{ datiTrasporto }}</div>
		<div class="h4 ml-16">ID: <b>{{ datiTrasporto.id }}</b></div>
		<div class="h4 ml-16">vettoreEopooCode: <b>{{ datiTrasporto.vettoreEopooCode }}</b></div>
		<div class="h4 ml-16">mezzoTrasporto: <b>{{ datiTrasporto.mezzoTrasporto }}</b></div>
		<div class="h4 ml-16">causaleTrasporto: <b>{{ datiTrasporto.causaleTrasporto }}</b></div>
		<div class="h4 ml-16">numeroColli: <b>{{ datiTrasporto.numeroColli }}</b></div>
		<div class="h4 ml-16">descrizione: <b>{{ datiTrasporto.descrizione }}</b></div>
		<div class="h4 ml-16">unitaMisuraPeso: <b>{{ datiTrasporto.unitaMisuraPeso }}</b></div>
		<div class="h4 ml-16">pesoLordo: <b>{{ datiTrasporto.pesoLordo }}</b></div>
		<div class="h4 ml-16">pesoNetto: <b>{{ datiTrasporto.pesoNetto }}</b></div>
		<div class="h4 ml-16">dataOraRitiro: <b>{{ datiTrasporto.dataOraRitiro }}</b></div>
		<div class="h4 ml-16">dataInizioTrasporto: <b>{{ datiTrasporto.dataInizioTrasporto }}</b></div>
		<div class="h4 ml-16">tipoResa: <b>{{ datiTrasporto.tipoResa }}</b></div>
		<div class="h4 ml-16">dataOraConsegna: <b>{{ datiTrasporto.dataOraConsegna }}</b></div>


<pre>{{ datiTrasporto }}</pre>