<div *ngIf="loading">LOADING</div>
<ng-container [ngSwitch]="view">
	<div *ngSwitchCase="'NONE'"></div>
	<div *ngSwitchCase="'CARD'">
		<div *ngFor="let e of ds">
			<pre>{{ e | json }}</pre>
		</div>
	</div>
	<div *ngSwitchDefault>
		<p-table styleClass="p-datatable-sm" [value]="ds" [lazy]="true" (onLazyLoad)="lazyLoad($event)"
			[resizableColumns]="true" [selection]="selectedElements" (selectionChange)="selection($event)">

			<ng-template pTemplate="header">
				<tr>
					<ng-container *ngFor="let dc of dcs" [ngSwitch]="dc">
						<th *ngSwitchCase="'_ck'" style="width:30px"></th>
						<th *ngSwitchCase="'id'" style="text-align:center; width: 50px" pResizableColumn pSortableColumn="id">id</th>
						<!-- Filed of entity -->
<th *ngSwitchCase="'beneficiario'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.beneficiario"> beneficiario </th>
<th *ngSwitchCase="'modalitaPagamentoCode'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.modalitaPagamentoCode"> modalitaPagamentoCode </th>
<th *ngSwitchCase="'dataRiferimentoTerminiPagamento'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.dataRiferimentoTerminiPagamento"> dataRiferimentoTerminiPagamento </th>
<th *ngSwitchCase="'giorniTerminiPagamento'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.giorniTerminiPagamento"> giorniTerminiPagamento </th>
<th *ngSwitchCase="'dataScadenzaPagamento'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.dataScadenzaPagamento"> dataScadenzaPagamento </th>
<th *ngSwitchCase="'importoPagamento'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.importoPagamento"> importoPagamento </th>
<th *ngSwitchCase="'codUfficioPostale'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.codUfficioPostale"> codUfficioPostale </th>
<th *ngSwitchCase="'cognomeQuietanzante'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.cognomeQuietanzante"> cognomeQuietanzante </th>
<th *ngSwitchCase="'nomeQuietanzante'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.nomeQuietanzante"> nomeQuietanzante </th>
<th *ngSwitchCase="'cFQuietanzante'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.cFQuietanzante"> cFQuietanzante </th>
<th *ngSwitchCase="'titoloQuietanzante'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.titoloQuietanzante"> titoloQuietanzante </th>
<th *ngSwitchCase="'istitutoFinanziario'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.istitutoFinanziario"> istitutoFinanziario </th>
<th *ngSwitchCase="'iban'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.iban"> iban </th>
<th *ngSwitchCase="'abi'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.abi"> abi </th>
<th *ngSwitchCase="'cab'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.cab"> cab </th>
<th *ngSwitchCase="'bic'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.bic"> bic </th>
<th *ngSwitchCase="'scontoPagamentoAnticipato'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.scontoPagamentoAnticipato"> scontoPagamentoAnticipato </th>
<th *ngSwitchCase="'dataLimitePagamentoAnticipato'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.dataLimitePagamentoAnticipato"> dataLimitePagamentoAnticipato </th>
<th *ngSwitchCase="'penalitaPagamentiRitardati'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.penalitaPagamentiRitardati"> penalitaPagamentiRitardati </th>
<th *ngSwitchCase="'dataDecorrenzaPenale'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.dataDecorrenzaPenale"> dataDecorrenzaPenale </th>
<th *ngSwitchCase="'codicePagamento'" style="width:auto" pResizableColumn pSortableColumn="dettaglioPagamento.codicePagamento"> codicePagamento </th>
<!-- Filed of relational entity -->
<th *ngSwitchCase="'datiPagamento.condizioniPagamento'" style="width:auto" pResizableColumn pSortableColumn="datiPagamento.condizioniPagamento"> condizioniPagamento</th>
					</ng-container>
					<th *ngIf="buttons" style="width:150px"></th>

				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-e>
				<tr>
					<ng-container *ngFor="let dc of dcs" [ngSwitch]="dc">
						<td *ngSwitchCase="'_ck'"><p-tableCheckbox [value]="e"></p-tableCheckbox></td>
						<td *ngSwitchCase="'id'">{{ e.id }}</td>
						<!-- Filed of entity -->
						 <td *ngSwitchCase="'beneficiario'">{{ e.beneficiario }}</td>
						 <td *ngSwitchCase="'modalitaPagamentoCode'">{{ e.modalitaPagamentoCode }}</td>
						 <td *ngSwitchCase="'dataRiferimentoTerminiPagamento'">{{ e.dataRiferimentoTerminiPagamento }}</td>
						 <td *ngSwitchCase="'giorniTerminiPagamento'">{{ e.giorniTerminiPagamento }}</td>
						 <td *ngSwitchCase="'dataScadenzaPagamento'">{{ e.dataScadenzaPagamento }}</td>
						 <td *ngSwitchCase="'importoPagamento'">{{ e.importoPagamento }}</td>
						 <td *ngSwitchCase="'codUfficioPostale'">{{ e.codUfficioPostale }}</td>
						 <td *ngSwitchCase="'cognomeQuietanzante'">{{ e.cognomeQuietanzante }}</td>
						 <td *ngSwitchCase="'nomeQuietanzante'">{{ e.nomeQuietanzante }}</td>
						 <td *ngSwitchCase="'cFQuietanzante'">{{ e.cFQuietanzante }}</td>
						 <td *ngSwitchCase="'titoloQuietanzante'">{{ e.titoloQuietanzante }}</td>
						 <td *ngSwitchCase="'istitutoFinanziario'">{{ e.istitutoFinanziario }}</td>
						 <td *ngSwitchCase="'iban'">{{ e.iban }}</td>
						 <td *ngSwitchCase="'abi'">{{ e.abi }}</td>
						 <td *ngSwitchCase="'cab'">{{ e.cab }}</td>
						 <td *ngSwitchCase="'bic'">{{ e.bic }}</td>
						 <td *ngSwitchCase="'scontoPagamentoAnticipato'">{{ e.scontoPagamentoAnticipato }}</td>
						 <td *ngSwitchCase="'dataLimitePagamentoAnticipato'">{{ e.dataLimitePagamentoAnticipato }}</td>
						 <td *ngSwitchCase="'penalitaPagamentiRitardati'">{{ e.penalitaPagamentiRitardati }}</td>
						 <td *ngSwitchCase="'dataDecorrenzaPenale'">{{ e.dataDecorrenzaPenale }}</td>
						 <td *ngSwitchCase="'codicePagamento'">{{ e.codicePagamento }}</td>

				<!-- Filed of relational entity -->
						<td *ngSwitchCase="'datiPagamento.condizioniPagamento'">{{ e.datiPagamento.condizioniPagamento }}</td>
					</ng-container>
						<td *ngIf="buttons" style="text-align:center">
						<ng-container *ngFor="let b of buttons">
							<button pButton type="button" 
								class="{{ b.class }} p-button-{{ b.severity }}" [ngClass]="{'ui-button-icon-only': b.hideLabel}" 
								label="{{ b.label }}" icon="{{ b.icon }}" (click)="b.command(e)">
							</button>
							<ng-container *ngIf="b.childs">
								<button pButton type="button" 
									class="{{ b.class }} ml-0.5 p-button-{{ b.severity }}"
									pRipple icon="pi pi-chevron-down" (click)="menu.toggle($event)">
								</button>
								<p-menu #menu [popup]="true" [model]="decoreButtons(b.childs, e)" appendTo="body"></p-menu>
							</ng-container>
						</ng-container>
					</td>

				</tr>
			</ng-template>
		</p-table>
	</div>
</ng-container> 
 