        <div class="h1 m-8 ml-16">{{ contact }}</div>
        <div class="h4 ml-16">ID: <b>{{ contact.id }}</b></div>

        <div class="h4 ml-16">contactTypeCode: <b>{{ contact.contactTypeCode }}</b></div>
        <div class="h4 ml-16">value: <b>{{ contact.value }}</b></div>





 *ngIf="eoopo.person"
<div class="h4 ml-16">eopoo: <b>{{ contact.eopoo.taxNumber }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">referent: <b>{{ contact.referent.firstname }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">referent: <b>{{ contact.referent.lastname }}</b></div>

 *ngIf="eoopo.person"
<div class="h4 ml-16">referent: <b>{{ contact.referent.position }}</b></div>

