		<div class="h1 m-8 ml-16">{{ procurement }}</div>
		<div class="h4 ml-16">ID: <b>{{ procurement.id }}</b></div>
		<div class="h4 ml-16">contractorEopooCode: <b>{{ procurement.contractorEopooCode }}</b></div>
		<div class="h4 ml-16">description: <b>{{ procurement.description }}</b></div>
		<div class="h4 ml-16">code: <b>{{ procurement.code }}</b></div>
		<div class="h4 ml-16">ref: <b>{{ procurement.ref }}</b></div>
		<div class="h4 ml-16">externalRef: <b>{{ procurement.externalRef }}</b></div>
		<div class="h4 ml-16">creationDateTime: <b>{{ procurement.creationDateTime }}</b></div>


<pre>{{ procurement }}</pre>