		<div class="h1 m-8 ml-16">{{ dettaglioLinea }}</div>
		<div class="h4 ml-16">ID: <b>{{ dettaglioLinea.id }}</b></div>
		<div class="h4 ml-16">numeroLinea: <b>{{ dettaglioLinea.numeroLinea }}</b></div>
		<div class="h4 ml-16">tipoCessionePrestazioneCode: <b>{{ dettaglioLinea.tipoCessionePrestazioneCode }}</b></div>
		<div class="h4 ml-16">codiceArticoloTipo: <b>{{ dettaglioLinea.codiceArticoloTipo }}</b></div>
		<div class="h4 ml-16">codiceArticoloValore: <b>{{ dettaglioLinea.codiceArticoloValore }}</b></div>
		<div class="h4 ml-16">descrizione: <b>{{ dettaglioLinea.descrizione }}</b></div>
		<div class="h4 ml-16">quantita: <b>{{ dettaglioLinea.quantita }}</b></div>
		<div class="h4 ml-16">unitaMisura: <b>{{ dettaglioLinea.unitaMisura }}</b></div>
		<div class="h4 ml-16">dataInizioPeriodo: <b>{{ dettaglioLinea.dataInizioPeriodo }}</b></div>
		<div class="h4 ml-16">dataFinePeriodo: <b>{{ dettaglioLinea.dataFinePeriodo }}</b></div>
		<div class="h4 ml-16">prezzoUnitario: <b>{{ dettaglioLinea.prezzoUnitario }}</b></div>
		<div class="h4 ml-16">prezzoTotale: <b>{{ dettaglioLinea.prezzoTotale }}</b></div>
		<div class="h4 ml-16">aliquotaIva: <b>{{ dettaglioLinea.aliquotaIva }}</b></div>
		<div class="h4 ml-16">ritenuta: <b>{{ dettaglioLinea.ritenuta }}</b></div>
		<div class="h4 ml-16">naturaCode: <b>{{ dettaglioLinea.naturaCode }}</b></div>
		<div class="h4 ml-16">riferimentoAmministrazione: <b>{{ dettaglioLinea.riferimentoAmministrazione }}</b></div>


<pre>{{ dettaglioLinea }}</pre>